.app {
    &-topbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    &-content-wrapper {
        padding: 1rem;
        padding-top: calc(var(--toolbar-height) + 0.9rem);
    }

    &-content {
        width: 100%;
        max-width: var(--container-width);
        margin: 0 auto;
    }
}