@use 'assets/styles/variables';
@use 'assets/styles/utils';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--color-body-bg);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
